<h1>Editing signup</h1>

<% form_for(@signup) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :timeslot_id %><br />
    <%= f.text_field :timeslot_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @signup %> |
<%= link_to 'Back', signups_path %>