<% form_for(@signup) do |f| %>

	<h4>Title</h4>
	Natural Behaviour in Urban Search and Rescue Command and Control
	<h4>Description</h4>
	The Multimodal Understanding Group at MIT CSAIL is conducting a user study to 
	observe how people interact naturally with a digital map on a tabletop display. 
	You can help with our research by participating the study, if you are over 18
	years old, and are able to describe commands in English and make gestures.

	<h4>Location</h4>
	Buiding <a href = "http://whereis.mit.edu/?go=37" target = "_blank">37</a> room 307
	<h4>Duration</h4>
	About 30 minutes with a reward of 1 AMC Gold movie ticket.
	<div class = "add_border"></div>
	<h4>Sign up</h4>
	<p class = "small_font">(All fields are required.)</p>
	<%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
	</p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    Choose <%= f.label :timeslot_id %><br />
    <%= f.select :timeslot_id, Timeslot.all.select { |t| t.openings_left > 0 }.map { |t| [t.name, t.id] } %>
  </p>

	<div class = "uiButton">
  	<%= f.submit 'Submit' %>
	</div>
<% end %>
