<% form_for(@signup) do |f| %>

	<h4>Title</h4>
	Towards an intelligent multimodal interface
	<h4>Location</h4>
	Buiding <a href = "http://whereis.mit.edu/?go=37" target = "_blank">37</a> room
	<h4>Duration</h4>
	About 30 minuites with a reward of 1 movie ticket.
	<div class = "add_border"></div>
	<h4>Sign up</h4>
	<p class = "small_font">(All fields are required.)</p>
	<%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
	</p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    Choose <%= f.label :timeslot_id %><br />
    <%= f.select :timeslot_id, Timeslot.all.select { |t| t.openings_left > 0 }.map { |t| [t.name, t.id] } %>
  </p>

	<div class = "uiButton">
  	<%= f.submit 'Submit' %>
	</div>
<% end %>
