<h1>Listing events</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Header</th>
    <th>Event title</th>
    <th>Requirement</th>
    <th>Location</th>
    <th>Duration</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.header %></td>
    <td><%= event.event_title %></td>
    <td><%= event.requirement %></td>
    <td><%= event.location %></td>
    <td><%= event.duration %></td>
    <td><%= event.description %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
